.disqus {
  display: block;
  padding: 2rem 4rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
}

@media screen and (max-width: 500px) {
  .disqus {
    padding: 1.6rem 0.7rem;
    margin-top: 4rem;
  }
}
