.img-overlay {
  position: relative;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.98);
  }

  &:active::before {
    opacity: 0.5;
  }

  &::before {
    content: '';
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease;

    -webkit-box-shadow: 0rem 1rem 1.8rem -0.6rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0rem 1rem 1.8rem -0.6rem rgba(0, 0, 0, 0.75);
    box-shadow: 0rem 1rem 1.8rem -0.6rem rgba(0, 0, 0, 0.75);
  }

  .img-link {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 176, 166, 0);
    top: 0.2rem;
    left: 0.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgba(64, 163, 158, 0.8);
    }

    &:hover .wrapper,
    &:focus .wrapper {
      opacity: 1;
    }

    .wrapper {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .title {
      font-family: 'Raleway', sans-serif;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 6rem;
      line-height: 6rem;
      margin-bottom: 1rem;
      font-weight: 700;
      text-align: center;
      text-shadow: none;
      letter-spacing: 0.6rem;
      will-change: transform;
    }

    .description {
      overflow: hidden;
      width: 95%;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
      text-shadow: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      will-change: transform;
    }
  }
}

.articles-figure {
  .trips-figcaption {
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2.7rem;
  }
}

.figures-wrapper {
  max-width: 800px;
  padding: 0 1.2rem;
}

.reg {
  border: 0.2rem #00c1a7 solid;
  transition: transform 0.3s ease;
}

.img-overlay-mobile {
  position: relative;
  display: none;
}

.fig-mobile {
  display: none;
  position: relative;
}

@media screen and (max-width: 1700px) {
  .img-overlay .img-link .title {
    font-size: 5rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1600px) {
  .img-overlay .img-link .title {
    font-size: 4rem;
    letter-spacing: 0.8rem;
    line-height: 5rem;
    margin-bottom: 0rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1300px) {
  .img-overlay .img-link .title {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    line-height: 3rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 991px) {
  .img-overlay .img-link .title {
    font-size: 3rem;
    line-height: 5rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .articles-figure {
    margin-top: 0.8rem;

    &::first-child {
      margin-top: 0;
    }
  }

  .img-overlay .img-link .title {
    font-size: 7.8rem;
    margin-bottom: 1rem;
    line-height: 6rem;
  }

  .img-overlay .img-link .description {
    font-size: 2rem;
  }

  .figures-wrapper {
    padding: 0 0.8rem;
  }
}

@media screen and (max-width: 710px) {
  .img-overlay .img-link .title {
    font-size: 6rem;
    letter-spacing: 0.8rem;
    line-height: 5rem;
  }

  .img-overlay .img-link .description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .img-overlay .img-link .title {
    font-size: 5rem;
    letter-spacing: 0.8rem;
    line-height: 4.5rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .img-overlay .img-link .title {
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 450px) {
  .container figure:hover .reg,
  .container figure:hover .img-link {
    transform: rotate(1deg);
  }
}

@media screen and (max-width: 350px) {
  .img-overlay .img-link .title {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0rem;
    line-height: 3rem;
  }

  .img-overlay .img-link .description {
    font-size: 1.1rem;
  }
}
