#podroze {
  h3 {
    font-style: italic;
  }
}

.trips {
  position: relative;
  padding-bottom: 6.4rem;
  z-index: 0;
  overflow: hidden;
  border-bottom: 0.2rem #33f4d9 solid;
  border-top: 0.2rem #33f4d9 solid;

  -webkit-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);

  &::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/wodospad.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  header {
    position: relative;
  }

  h2 {
    padding-top: 6.4rem;
    font-size: 4.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 4rem #000;
  }

  h3 {
    margin-top: 0.8rem;
    font-size: 2.4rem;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 4rem #000;
  }
}

.img-trips-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: #3c9499;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .trips {
    padding-bottom: 0;

    h2 {
      padding-top: 3.2rem;
      font-size: 3.6rem;
    }

    header h3 {
      font-size: 1.6rem;
    }
  }
}
