.img-overlay {
  position: relative;

  .img-link {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 176, 166, 0);
    top: 0.2rem;
    left: 0.2rem;
    transition: transform 0.3s ease, background-color 0.3s ease;

    -webkit-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, 0.75);

    &:hover,
    &:focus {
      background-color: rgba(64, 163, 158, 0.8);
    }

    &:hover .wrapper,
    &:focus .wrapper {
      opacity: 1;
    }

    .wrapper {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .title {
      font-family: 'Raleway', sans-serif;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 60px;
      line-height: 6rem;
      margin-bottom: 1rem;
      font-weight: 700;
      text-align: center;
      text-shadow: none;
      letter-spacing: 8px;
      will-change: transform;
    }

    .description {
      overflow: hidden;
      width: 95%;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      text-shadow: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      will-change: transform;
    }
  }
}

.figures-wrapper {
  padding: 0 15px;
}

.reg {
  border: 0.2rem #00c1a7 solid;
  transition: transform 0.3s ease;
}

.img-overlay-mobile {
  position: relative;
  display: none;
}

.fig-mobile {
  display: none;
  position: relative;
}

@media screen and (max-width: 1700px) {
  .img-overlay .img-link .title {
    font-size: 50px;
  }

  .img-overlay .img-link .description {
    font-size: 18px;
  }
}

@media screen and (max-width: 1600px) {
  .img-overlay .img-link .title {
    font-size: 40px;
    letter-spacing: 8px;
    line-height: 5rem;
    margin-bottom: 0rem;
  }

  .img-overlay .img-link .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .img-overlay .img-link .title {
    font-size: 25px;
    letter-spacing: 8px;
    line-height: 3rem;
  }

  .img-overlay .img-link .description {
    font-size: 11px;
  }
}

@media screen and (max-width: 991px) {
  .img-overlay .img-link .title {
    font-size: 30px;
    line-height: 5rem;
  }

  .img-overlay .img-link .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .articles-figure {
    margin-top: 1rem;

    &::first-child {
      margin-top: 0;
    }
  }

  .img-overlay .img-link .title {
    font-size: 78px;
    margin-bottom: 1rem;
  }

  .img-overlay .img-link .description {
    font-size: 20px;
  }

  .figures-wrapper {
    padding: 0 10px;
  }
}

@media screen and (max-width: 710px) {
  .img-overlay .img-link .title {
    font-size: 60px;
    letter-spacing: 8px;
  }

  .img-overlay .img-link .description {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .img-overlay .img-link .title {
    font-size: 50px;
    letter-spacing: 8px;
  }

  .img-overlay .img-link .description {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .img-overlay .img-link .title {
    font-size: 38px;
    letter-spacing: 3px;
  }

  .img-overlay .img-link .description {
    font-size: 12px;
  }
}

@media screen and (min-width: 450px) {
  .container figure:hover .reg,
  .container figure:hover .img-link {
    transform: rotate(1deg);
  }
}

@media screen and (max-width: 350px) {
  .img-overlay .img-link .title {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 0rem;
  }

  .img-overlay .img-link .description {
    font-size: 8px;
  }
}
