.numbers-section-page {
  height: auto;
  background: linear-gradient(
    to top,
    var(--main-bg-color-1),
    var(--main-bg-color-2)
  );
  border-top: 0.1rem #fff solid;
  border-bottom: 0.1rem #fff solid;

  .numbers-section-container {
    max-width: 80%;
    padding: 0;
  }

  .numbers-section-column {
    border-right: 0.1rem #fff solid;

    &:last-child {
      border: none;
    }
  }
}

.box {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    border-bottom: 0.1rem #fff solid;
    padding-bottom: 1rem;
  }

  p {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-shadow: none;
  }
}

.icon {
  width: 100%;
  display: block;
  margin-top: 2rem;
}

.icon-location {
  font-size: 6rem;
  text-align: center;
  display: block;
}

.icon-ruler {
  font-size: 6rem;
  text-align: center;
  display: block;
}

.icon-flight {
  font-size: 6rem;
  text-align: center;
  display: block;
}

.icon-cab {
  font-size: 6rem;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1200px) {
  .numbers-section-page {
    .numbers-section-container {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 992px) {
  .box {
    padding-top: 1rem;
    padding-bottom: 1rem;

    h5 {
      font-size: 2.2rem;
      border-bottom: 0.1rem #fff solid;
      padding-bottom: 1.4rem;
    }

    p {
      margin-top: 0;
      font-size: 2.5rem;
    }
  }

  .icon {
    margin-top: 1.5rem;
  }

  .icon-location {
    font-size: 4rem;
  }

  .icon-ruler {
    font-size: 4rem;
  }

  .icon-flight {
    font-size: 4rem;
  }

  .icon-cab {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .numbers-section-column {
    &:nth-child(2) {
      border-right: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .numbers-section-column {
    width: 24rem;
  }
}

@media screen and (max-width: 550px) {
  .numbers-section-column {
    width: 20rem;
  }

  .box {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    h5 {
      font-size: 1rem;
      border-bottom: 0.1rem #fff solid;
      padding-bottom: 0.1rem;
    }

    p {
      margin-top: 0rem;
      font-size: 1.2rem;
    }
  }

  .icon {
    margin-top: 0.2rem;
  }

  .icon-location {
    font-size: 2rem;
  }

  .icon-ruler {
    font-size: 2rem;
  }

  .icon-flight {
    font-size: 2rem;
  }

  .icon-cab {
    font-size: 2rem;
  }
}

@media screen and (max-width: 410px) {
  .numbers-section-column {
    width: 16rem;
  }
}

@media screen and (max-width: 322px) {
  .numbers-section-column {
    width: 14rem;
  }
}

@media screen and (max-width: 280px) {
  .numbers-section-column {
    width: 12rem;
  }
}

@media screen and (max-width: 250px) {
  .numbers-section-column {
    width: 10rem;
  }
}
