.disqus {
  border-top: 0.2rem #000 solid;
  padding: 1.6rem 4rem;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

@media screen and (max-width: 391px) {
  .disqus {
    padding: 1.6rem 0.7rem;
  }
}
