.entry-page-header {
  z-index: -1;
}

#welcome-1 {
  font-family: 'Amatic SC', cursive;
  font-size: 11.2rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
}

#welcome-2 {
  font-family: 'Amatic SC', cursive;
  font-size: 8.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.welcome {
  position: absolute;
  pointer-events: none;
  right: 0;
  left: 0;
  top: 16rem;
  bottom: 0;
  font-size: 6.4rem;
  text-align: center;
  font-weight: 400;
  text-shadow: 0.5rem 0.5rem 6.4rem #000;
}

.snd {
  margin-top: 16rem;
  padding-top: 0;
  text-shadow: 0.4rem 0.4rem 4rem #000;
}

.btn {
  position: relative;
  display: block;

  background: linear-gradient(
    to top,
    var(--main-bg-color-1),
    var(--main-bg-color-2)
  ) !important;

  border-color: #11d2b8;
  border-radius: 3rem;
  width: 12rem;
  height: 4.8rem;
  margin: 0 auto;
  margin-top: 36rem;
  outline: none;
  transition: background-color 2.2s ease, border-color 0.2s ease,
    transform 0.2s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    -webkit-box-shadow: 0rem 0.8rem 1.9rem -0.6rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0rem 0.8rem 1.9rem -0.6rem rgba(0, 0, 0, 0.75);
    box-shadow: 0rem 0.8rem 1.9rem -0.6rem rgba(0, 0, 0, 0.75);

    border-radius: 3rem;
    opacity: 1;
  }

  &:active::before {
    opacity: 0.4 !important;
  }

  &:hover {
    background: transparent !important;
    border-color: #22d2c8;
  }

  &:hover p {
    color: #11d2b8;
  }

  &:hover + .icon-down-open,
  &:focus + .icon-down-open {
    color: #11c1b7;
  }

  &:active {
    transform: scale(0.95) !important;
    background-color: #00b0a6 !important;
  }

  &:active + .icon-down-open {
    opacity: 0;
    transform: translateY(12rem);
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.05rem;
    font-weight: 400;
    text-align: center;
    color: var(--main-font-color);
    transition: color 0.2s ease;
  }
}

.icon-down-open {
  cursor: pointer;
  font-size: 3.2rem;
  display: block;
  width: 8rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  color: var(--main-font-color);
  transition: color 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  text-shadow: 0.2rem 0.2rem 3.2rem #000;

  -webkit-animation: arrowDownMove 5s infinite, arrowStartUpMove 1s ease;
  animation: arrowDownMove 5s infinite, arrowStartUpMove 1s ease;

  &:hover,
  &:focus {
    color: #11c1b7;
  }
}

@keyframes arrowStartUpMove {
  0% {
    transform: translateY(12rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes arrowDownMove {
  0% {
    transform: translateY(0);
    color: #11c1b7;
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    color: #fff;
    opacity: 1;
  }
  50% {
    transform: translateY(2rem);
    color: #11c1b7;
    opacity: 1;
  }
  75% {
    transform: translateY(14rem);
    color: #11c1b7;
    opacity: 0;
  }
  100% {
    transform: translateY(14rem);
    color: #11c1b7;
    opacity: 0;
  }
}

.main-bg {
  position: fixed;
  transform: translatez(0);
  -webkit-transform: translatez(0);
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100vw;
  opacity: 0.8;
}

.main-bg-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

#img-mobile {
  position: fixed;
  transform: translatez(0);
  -webkit-transform: translatez(0);
  display: none;
  opacity: 0.6;
  z-index: -2;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: url('../../assets/images/bg-1.jpg');
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 3840px) {
  #welcome-1 {
    font-size: 13rem;
  }

  #welcome-2 {
    font-size: 10.5rem;
  }

  .welcome {
    font-size: 8rem;
    margin-top: 7rem;
  }

  .snd {
    margin-top: 19rem;
    padding-top: 0;
  }

  .btn {
    width: 14.4rem;
    height: 5.8rem;
    margin-top: 43rem;

    p {
      font-size: 1.9rem;
    }
  }

  .icon-down-open {
    font-size: 3.8rem;
    width: 9.6rem;
    margin-top: 4.8rem;
  }
}

@media screen and (max-width: 1600px) {
  #welcome-1 {
    font-size: 11.2rem;
  }

  #welcome-2 {
    font-size: 8.4rem;
  }

  .welcome {
    font-size: 6.4rem;
    margin-top: 5rem;
  }

  .snd {
    margin-top: 16rem;
    padding-top: 0;
  }

  .btn {
    width: 12rem;
    height: 4.8rem;
    margin-top: 36rem;

    p {
      font-size: 1.6rem;
    }
  }

  .icon-down-open {
    font-size: 3.2rem;
    width: 8rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 990px) {
  #home.nav-opened .btn {
    display: none;
  }

  #home.nav-opened .icon-down-open {
    display: none;
  }

  #home.nav-opened .welcome {
    display: none;
  }

  #main-bg {
    display: none;
  }

  #img-mobile {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #welcome-1 {
    font-size: 7.2rem;
    letter-spacing: 0.4rem;
  }

  #welcome-2 {
    font-size: 6rem;
  }

  .welcome {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .snd {
    font-size: 3.2rem;
    padding-top: 0rem;
    margin-top: 9.6rem;
  }
}

@media screen and (max-width: 500px) {
  #welcome-1 {
    font-size: 4.8rem;
  }

  #welcome-2 {
    font-size: 4rem;
  }

  .welcome {
    margin-top: 0.8rem;
    font-size: 3.2rem;
  }

  .snd {
    font-size: 2rem;
    padding-top: 0rem;
    margin-top: 5.6rem;
  }
}

@media screen and (max-width: 350px) {
  #welcome-1 {
    font-size: 3.6rem;
  }

  #welcome-2 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 318px) {
  .welcome {
    font-size: 2.8rem;
  }

  .snd {
    font-size: 2rem;
  }
}
