.navbar-mobile {
  margin-top: 12rem;

  li {
    position: relative;
    font-size: 2.6rem;
    color: var(--main-font-color);
    text-align: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

.mobile-trips-ul {
  position: relative;

  .accordion-button {
    background: transparent !important;
    color: #fff !important;
    border: none;
    outline: none;
  }

  ul {
    position: relative;
    background: #333;
    margin-top: 0.8rem;
    padding: 0.8rem 0;

    .mobile-trips-li {
      display: block;
      font-size: 1.9rem;
      margin-top: 0.8rem;

      &:first-child {
        margin-top: 1.6rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -0.6rem;
      width: 50%;
      height: 1.3rem;
      top: 0;
      background-color: var(--main-bg-color-2);
      -webkit-transform: skew(-40deg);
      -moz-transform: skew(-40deg);
      -o-transform: skew(-40deg);
      -ms-transform: skew(-40deg);
      transform: skew(-40deg);
    }

    &::after {
      content: '';
      position: absolute;
      right: -0.6rem;
      width: 50%;
      height: 1.3rem;
      top: 0;
      background-color: var(--main-bg-color-2);
      -webkit-transform: skew(40deg);
      -moz-transform: skew(40deg);
      -o-transform: skew(40deg);
      -ms-transform: skew(40deg);
      transform: skew(40deg);
    }
  }
}

#mobile-main-menu .hamburger:hover {
  cursor: pointer;
}

#menu-cancel {
  opacity: 0;
  pointer-events: none;
  font-size: 2.6rem;
  margin-top: 1.6rem;
  z-index: 5;
}
