.social-media-page {
  position: relative;
  display: block;
  background-image: linear-gradient(to top, #00b0a6, #22d2c8);
  max-height: 32rem;
  width: 100%;
  border-bottom: 0.2rem #33f4d9 solid;
  border-top: 0.2rem #33f4d9 solid;
  z-index: 0;

  -webkit-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);

  &::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/wodospad.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.social-media-row {
  margin: 0 auto;
  max-width: 1920px;
}

.instagram-logo {
  position: relative;
  display: block;
  margin-left: 11.2rem;
  margin-top: 1.6rem;

  &:hover .instagram-logo-img,
  &:focus .instagram-logo-img {
    opacity: 0;
  }
}

.icon-instagram {
  font-size: 19.2rem;
  color: #33f4d9;
  opacity: 1;
}

.icon-arrow {
  transform: rotate(-35deg);
  max-width: 36rem;
  padding-bottom: 8rem;
  padding-left: 4rem;
}

.social-media-text {
  display: block;
  max-width: 100%;
  height: 100%;
  padding-top: 6.4rem;
  padding-left: 1.6rem;

  p {
    font-size: 6.4rem;
    text-align: left;
    font-family: 'Gloria Hallelujah', cursive;
    color: #33f4d9;
  }
}

.instagram-logo-img {
  opacity: 0;
}

.instagram-mobile {
  display: none;
}

.instagram-logo-img {
  position: absolute;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
  top: 2.84rem;
  left: 1.76rem;
  width: 23.42rem;
  height: 23.42rem;
}

@media screen and (max-width: 3840px) {
  .social-media-page {
    max-height: 38rem;
  }

  .social-media-row {
    max-width: 1920px;
  }

  .instagram-logo {
    margin-left: 13.4rem;
    margin-top: 2rem;
  }

  .icon-instagram {
    font-size: 23rem;
  }

  .icon-arrow {
    max-width: 40rem;
    padding-bottom: 10rem;
    padding-left: 4.8rem;
  }

  .social-media-text {
    padding-top: 7.7rem;
    padding-left: 2rem;

    p {
      font-size: 7.7rem;
    }
  }
}

@media screen and (max-width: 1919px) {
  .social-media-page {
    max-height: 32rem;
  }

  .social-media-row {
    max-width: 1920px;
  }

  .instagram-logo {
    margin-left: 11.2rem;
    margin-top: 1.6rem;
  }

  .icon-instagram {
    font-size: 19.2rem;
  }

  .icon-arrow {
    max-width: 36rem;
    padding-bottom: 8rem;
    padding-left: 4rem;
  }

  .social-media-text {
    padding-top: 6.4rem;
    padding-left: 1.6rem;

    p {
      font-size: 6.4rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .col-arrow {
    display: none;
  }

  .col-text {
    display: none;
  }

  .instagram-logo {
    margin: 0 auto;
    margin-top: 0;
  }

  .social-media-page {
    height: 19.2rem;
  }

  .icon-instagram {
    display: block;
    font-size: 12.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .social-media-page {
    height: 13.6rem;
  }

  .icon-instagram {
    font-size: 8.8rem;
  }
}
