.footer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  background: linear-gradient(
    to top,
    var(--main-bg-color-1),
    var(--main-bg-color-2)
  );

  -webkit-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.75);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footer-block {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
  padding-bottom: 0.8rem;

  .footer-rights {
    cursor: default;
    width: 32%;
    text-align: center;

    a {
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  .footer-menu {
    width: 65%;
    text-align: center;
  }

  .footer-menu-li {
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-right: 1.6rem;
    min-width: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 1800px) {
  .footer-menu-li {
    min-width: 3.2rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1600px) {
  .footer-menu-li {
    min-width: 2.4rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  .footer-menu-li {
    min-width: 1.6rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .footer-block {
    margin-top: 1.6rem;

    .footer-rights {
      width: 100%;
    }

    .footer-menu {
      display: none;
    }
  }
}
