.authors-block {
  display: flex;
  height: 12rem;
  border: 0.2rem #11c1b7 solid;
  border-radius: 9rem;
  background: linear-gradient(
    to top,
    var(--main-bg-color-1),
    var(--main-bg-color-2)
  );

  margin: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  max-width: 85rem;

  -webkit-box-shadow: 0rem 1rem 2.4rem -0.8rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0rem 1rem 2.4rem -0.8rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 1rem 2.4rem -0.8rem rgba(0, 0, 0, 0.75);

  &:nth-child(1) {
    margin-top: 2.4rem;
  }
}

.img-authors {
  width: 12rem;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.img-authors-animate {
  border: 0.2rem #22d2c8 solid;
  border-radius: 50%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  overflow: hidden;
}

.authors-description {
  display: block;
  width: 78%;
  margin-left: 2.4rem;
  margin-top: 1.2rem;
  overflow: hidden;

  .authors-header {
    font-weight: 700;
    color: var(--main-font-color);
  }
}

@media screen and (max-width: 1700px) {
  .authors-description {
    width: 72%;
  }
}

@media screen and (max-width: 1500px) {
  .authors-description {
    width: 68%;
  }
}

@media screen and (max-width: 800px) {
  .authors-description {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .authors-block {
    display: none;
  }
}
