.authors {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 1.6rem;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/images/kjerag.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translatez(0);
    -webkit-transform: translatez(0);
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  header {
    position: relative;

    p {
      margin-top: 0.8rem;
      font-size: 2.4rem;
      font-weight: lighter;
      text-align: center;
      text-shadow: 0.1rem 0.1rem 4rem #000;
    }
  }

  h2 {
    padding-top: 6rem;
    text-shadow: 0.1rem 0.1rem 4rem #000;
  }

  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}

.img-bg-authors-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: #000;
}

@media screen and (max-width: 3840px) {
  .authors {
    padding-bottom: 2rem;

    header {
      p {
        margin-top: 1rem;
        font-size: 3rem;
      }
    }

    h2 {
      padding-top: 8rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 1919px) {
  .authors {
    padding-bottom: 1.6rem;

    header {
      p {
        margin-top: 0.8rem;
        font-size: 2.4rem;
      }
    }

    h2 {
      padding-top: 6rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .authors {
    h2 {
      padding-top: 3.2rem;
    }
  }
}
